@model Develop2Deploy.OpenGraph.Models.OgMetaPart

<fieldset>
    <legend>Open Graph Meta Data</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.Title)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Title, new {@class = "large text"})
        @Html.ValidationMessageFor(model => model.Title)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Type)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Type, new { @class = "large text" })
        @Html.ValidationMessageFor(model => model.Type)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Url)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Url, new { @class = "large text" })
        @Html.ValidationMessageFor(model => model.Url)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.ImgUrl)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.ImgUrl, new { @class = "large text" })
        @Html.ValidationMessageFor(model => model.ImgUrl)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.SiteName)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.SiteName, new { @class = "large text" })
        @Html.ValidationMessageFor(model => model.SiteName)
    </div>

</fieldset>